<h1 mat-dialog-title>Add new Quote</h1>
<div mat-dialog-content id="dialog-content">
  <p>What will you quote about?</p>

  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter quote title</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Title" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" formControlName="firstCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter quote description</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" formControlName="secondCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Enter quote source</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Source" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" formControlName="thirdCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Enter quote topics</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Topics" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" formControlName="fourthCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Enter quote politician</ng-template>
        <user-select></user-select>
        <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div mat-dialog-actions>
  <button mat-raised-button tabindex="2" (click)="addQuote()">Add</button>
  <button mat-raised-button tabindex="-1" (click)="onNoClick()">No Thanks</button>
</div>