.card-wide {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    padding: 0;
    background-color: inherit;
    border-bottom: 0;
}

.card-spacer {
    flex: 2 2 auto;
}

.card-title-sub {
    color: rgba(0,0,0,.54);
    font-size: 80%;
    margin-bottom: 15px;
}

.card-image-placeholder {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.card-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card-chip {
    background-color: inherit;
}

a {
    text-decoration: none;
    color: black;
}

.mat-icon-button.mat-primary {
    color: #7A3F99;
}

.mat-button.mat-primary {
    color: #7A3F99;
}

.mdl-card {
    width: 100%;
}

.mdl-card__title {
    height: 70px;
}

.mdl-card__supporting-text {
    height: 100%;
    width: 80%;
    float: right;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mdl-card__menu {
    color: #fff;
}
