body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'WeblySleek UI', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.all-content {
  background-color: #F7F7F7;
}

a {
  color: #00B7FF;
}

.btn {
  background-color: #CD88AF;
  color: white;
  border-radius: 35px;
  border: #CD88AF;
  padding: 5px 10px;
}

.btn-default {
  outline: none;
}

.btn-xlarge {
  padding: 10px 24px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: 25px;
}

.btn-xlarge:hover {
  background-color: #000000;
}

.navbar {
  background-color: #582A72;
  -webkit-box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
  -moz-box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
  box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
}

.navbar-header {
  background-color: #582A72;
}

.navbar-brand {
  margin-top: -10px;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -12px;
}

.jumbotron {
  margin-top: 45px;
  text-align: center;
  background-color: #CCCCCC;
  color: #FFFFFF;
  font-size: 150%;
  min-height: 380px;
  text-align: center;
  vertical-align: middle;
}

.jumbotron-img {
  background-image: url(../images/Bonn_Bundestag_Plenarsaal_edit.jpg);
  background-position: left;
}

.main {
  margin-top: 5pc;
  margin-bottom: 50px;
}

.intro {
  text-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
}

input[type=text] {
  height: 31px;
  border-radius:15px;
  box-shadow:none;
  color:#878787;
  display:inline-block;
  font-size:15px;
  outline:none;
  padding:3px 40px 2px 10px;
  width:100%;
  vertical-align: middle
}

.user-profile-picture {
  background-image: url(../images/user.jpg);
}

.user-profile {
  background-size:32px 32px;
  border-radius:50%;
  display:block;
  height:32px;
  width:32px;
  margin-top: 10px;
  margin-right: 10px;
}

.box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

/* headers */
h2 {
  color: #CD88AF;
  font-weight: 400;
}

/* footer css */

.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
  color: #78828D
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}

.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
  margin-top: 5px;
}

.newsletter-box {
  overflow: hidden;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
  color: #EDEFF1;
}

.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}

.payments {
  font-size: 1.5em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  border-bottom: 3px solid #CD88AF;
}

.navbar-default .navbar-nav>li>a {
  text-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
}

/* quotes */
.quote {
  background-color: white;
  width: 80%;
  height: 200px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.quote-header {
  height: 20%;
}

.quote-subheader {
  margin-top: 5px;
  height: 10%;
}

.quote-content {
  height: 60%;
}

.quote-decision {
  height: 10%;
}
