.nav-header {
    background: linear-gradient(135deg,rgb(88, 42, 114) 30%, #7A3F99 65%);
    position: fixed;
    z-index: 3;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
    color: #FFF;
}

.nav-header a {
    color: #FFF;
}

.nav-spacer {
    flex: 1 1 auto;
}

.nav-search {
    margin-left: 15px;
}

.mat-button.mat-primary {
    color: #FFF;
}

.mat-raised-button {
    color: black;
}