<mat-toolbar color="primary" class="nav-header">
    <mat-toolbar-row>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right nav-search">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
      <div>
        <!-- Title -->
        <a class="mdl-layout-title" href="/">
          <img id="veto-logo" src="../assets/images/veto-logo.png" />
        </a>
      </div>
      <span class="nav-spacer"></span>
      <div>
        <button mat-raised-button (click)="login()">Login</button>
        <a (click)="createNewQuote()" id="show-dialog">
          <i class="material-icons">forum</i>Zitiere
        </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mdl-grid">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
          <a href="#starks-panel" class="mdl-tabs__tab is-active">Today</a>
          <a href="#lannisters-panel" class="mdl-tabs__tab">Week</a>
          <a href="#targaryens-panel" class="mdl-tabs__tab">Trending</a>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col">Hashtags: Trending | Popular</div>

  <main class="mdl-layout__content mdl-cell mdl-cell--4-col">
    <quote-card></quote-card>
  </main>

  <div class="mdl-cell mdl-cell--2-col">Topics</div>
</div>

<router-outlet></router-outlet>
