<mat-toolbar color="primary" class="nav-header">
    <mat-toolbar-row>
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right nav-search">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
      <div>
        <!-- Title -->
        <a class="mdl-layout-title" href="/">
          <img id="veto-logo" src="../assets/images/veto-logo.png" />
        </a>
      </div>
      <span class="nav-spacer"></span>
      <div>
        <button mat-button color="primary" (click)="login()">Login</button>
        <button mat-raised-button color="primary" (click)="createNewQuote()" id="show-dialog">
          <i class="material-icons">forum</i>Quote
        </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<content class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <h5>Topics</h5>
    <topic-showcase></topic-showcase>
  </div>

  <main class="mdl-layout__content mdl-cell mdl-cell--4-col">
    <!--<mat-progress-bar mode="query"></mat-progress-bar>-->
    <router-outlet></router-outlet>
  </main>
  <div class="spacer" style="margin-right: 10%"></div>
</content>

