<!--The content below is only a placeholder and can be replaced.-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div>
        <!-- Title -->
        <a class="mdl-layout-title" href="/">
          <img id="veto-logo" src="../assets/images/veto-logo.png" />
        </a>
      </div>
      <!-- Add spacer, to align navigation to the right -->
      <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right nav-search">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" (click)="createNewQuote()" id="show-dialog">
            <i class="material-icons">forum</i>Zitiere
          </a>
          <!--<a class="mdl-navigation__link" v-if="user.authenticated" v-link="'login'" click="logout()">Logout</a>-->
        </nav>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone nav-login">
      <button mat-raised-button (click)="login()">Login</button>
    </div>
  </header>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">Left Column</div>

  <main class="mdl-layout__content mdl-cell mdl-cell--4-col">
    <quote-card></quote-card>
  </main>

  <div class="mdl-cell mdl-cell--2-col">Right Column</div>
</div>

<router-outlet></router-outlet>
