<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/cosmo/bootstrap.min.css">

<div class="jumbotron"><h1>Something unexpected happened!</h1></div>
<h1><%= message %></h1>
<h2><%= error %></h2>
<pre><%= stacktrace %></pre>