<h1 mat-dialog-title>Please login to continue</h1>
<div mat-dialog-content class="mdl-grid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="mdl-cell mdl-cell--12-col">
      <input matInput placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="isFieldInvalid('username')">
          Please input your user name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mdl-cell mdl-cell--12-col">
        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="isFieldInvalid('username')">
          Please input your password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
  </form>
</div>